// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hind+Siliguri:wght@300;400;500&family=Lato:ital,wght@0,400;0,900;1,300;1,400&family=Lobster&family=Montserrat:wght@400;500;700&display=swap');
@import "_variables.scss";
@import "_mixins.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    min-height: 100vh;
    background-color: $background;
    color: $text_color;
    font-family: $siliguri-font;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; 
    font-size: 1.5rem;
}

// navbar section
.navbar{
    padding: 3rem 0;
    position: relative;

    &__top{
        @include flex(null, space-between);

        &--brand{
            @include flex(column,center,space-evenly);
            line-height: 15px;
            font-weight: 600;

            @include desktop{
                font-size: 3.3rem;
                line-height: 25px;
            }
        }
        
        &--page{
            font-size:1.8rem;
            text-decoration: none;
            color: $primary-color;
            position: relative;font-weight: 600;

            @include desktop{
                font-size: 4rem;
            }
        }

        &--toggler{
            background-color: transparent;
            border: none;
            height: 3rem;
            width: 3rem;
            @include flex(column, space-evenly);
            cursor: pointer;
            @include transition;
            z-index: 999;

            &:hover{
                opacity: 0.8;
            }

            .line{
                background-color: black;
                height: .2rem;
                width: 100%;
                @include transition;
            }
            &.change .line__1{
                transform: rotate(45deg) translate(0.3rem, 0.8rem);
            }
            &.change .line__2{
                opacity: 0;
                visibility: hidden;
            }
            &.change .line__3{
                transform: rotate(-45deg) translate(0.3rem, -0.8rem);
            }

        }
    }

    &__collapse{
        position: absolute;
        top: 2rem;
        left: 0;
        width: 80%;
        overflow: hidden;
        height: 0;
        @include transition;

        &.show__nav{
            height: 100vh;
            background-color: $primary-color; 
        }

        &--nav{
            padding: 2rem;
            border-radius: 0.5rem;

            &.input__wrapper{
                padding:2rem;
            }

            & input{
                
                border: 2px solid white;
                height: 4rem;
                width: 80%;
                background-color: transparent;
                font-size: 2.2rem;
                outline: none;

                &::placeholder{
                    color: white;
                    padding: 1rem;
                }
            }
            & i{
                color: white;
                font-size: 2rem;
                padding:0 ;
            }

            & li{
                margin:40px 0;
                list-style-type: none;
            }

            & i{
                color: white;
                font-size: 2rem;
                padding:0 1rem;
            }

            & a{
                color: white;
                text-decoration: none;
                font-size: 1.8rem;
                letter-spacing: 1px;
                @include transition;

                &:hover{
                    color: $secondary-color;
                }
                &.weight{
                    font-weight: 600;
                }
                &.active{
                    color: $activeColor;
                }
            }

            @include desktop{
                 & i{
                    font-size: 3rem;
                 }

                 & li{

                    & a{
                        font-size: 3rem;
                    }
                 }
            }
        }

    }
}
//title
.title_wrapper{
    padding: 0 1rem;
    @include flex(column,start,start );
    color: $text_color;
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;

    .red_title{
        margin-top:1rem ;
        color: $primary-color;
        font-size: 1.2rem;
        width: 70%;
        line-height: 15px;
        font-weight: 600;
    }
}
//date
.date{
    padding-top: 3rem;
    width: 100%;
    @include flex(null,space-evenly);
    color:rgb(219, 219, 219) ;
    font-size: 2rem;
}
.line_date{
    margin: 0  3rem;
    border: 2px solid rgb(219, 219, 219);
}
.active_day{
    font-weight: 600;
    color: $text_color;
    border-bottom: 4px solid $primary-color;
}
.actual_date{
    @include flex(column,);
    color: $text_color;
    font-weight: bold;
    font-size: 12px;
}
.adult{
    margin: 5rem 3rem;
    @include flex(null,space-between);

    .type{
        font-size: 2.2rem;
        font-weight: bold;
    }
    .counter{
        @include flex(null,center,center);
        .add{
            @include flex(null,center,center);
            border:3px solid rgb(209, 208, 208);
            width: 25px;
            height: 25px;
            margin: 5px;
            font-size: 15px;
            font-weight: bold;
            color:rgb(209, 208, 208) ;
        }
        .sum{
            color: $text_color;
            font-weight: bold;
            font-size: 20px;
        }
    }

}
.senior{
    margin: 5rem 3rem;
    @include flex(null,space-between);

    .type{
        @include flex(column,start,start);
        :first-child{
            font-size: 2.2rem;
            font-weight: bold;
        }
        .subtitle{
            color:rgb(209, 208, 208) ;
        }
    }
    .counter{
        @include flex(null,center,center);
        .add{
            @include flex(null,center,center);
            border:3px solid rgb(209, 208, 208);
            width: 25px;
            height: 25px;
            margin: 5px;
            font-size: 15px;
            font-weight: bold;
            color:rgb(209, 208, 208) ;
        }
        .sum{
            color:rgb(209, 208, 208) ;
            font-weight: bold;
            font-size: 20px;
        }
    }

}
.student{
    margin: 5rem 3rem;
    @include flex(null,space-between);

    .type{
        @include flex(column,start,start);
        :first-child{
            font-size: 2.2rem;
            font-weight: bold;
        }
        .subtitle{
            color:rgb(209, 208, 208) ;
        }
    }
    .counter{
        @include flex(null,center,center);
        .add{
            @include flex(null,center,center);
            border:3px solid rgb(209, 208, 208);
            width: 25px;
            height: 25px;
            margin: 5px;
            font-size: 15px;
            font-weight: bold;
            color:rgb(209, 208, 208) ;
        }
        .sum{
            color:rgb(209, 208, 208) ;
            font-weight: bold;
            font-size: 20px;
        }
    }

}
.line_total{
    margin: 0  3rem;
    border: 2px solid $primary-color;
}
.total_counter{
    margin: 1rem 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    @include flex(null,space-between,center);
}
.payment{
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background: $primary-color;
    color: #fff;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}